<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <!--LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Log in with your existing account!"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="email" pInputText placeholder="Email" formControlName="email"/>
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="password" pInputText placeholder="password" formControlName="password" />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <button type="submit" pButton pRipple label="Login"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            style="cursor: pointer;"
            (click)="loginCard = !loginCard"
            (keydown.enter)="loginCard = !loginCard"
            >Sign Up</span
          >
        </p-card>
      </form>
      <!-- SIGNUP -->
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitLoginSignUpFormForm()">
        <p-card
          styleClass="mt-10"
          header="Sign Up"
          subheader="Create a new account!"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="text" pInputText placeholder="Name" formControlName="name" />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="email" pInputText placeholder="Email" formControlName="email"/>
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="password" pInputText placeholder="password" formControlName="password"/>
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <button type="submit" pButton pRipple label="Sign Up" [disabled]="!this.signUpForm.value"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            style="cursor: pointer;"
            (click)="loginCard = !loginCard"
            (keydown.enter)="loginCard = !loginCard"
            >Login</span
          >
        </p-card>
      </form>
    </div>
  </div>
</div>
